<!-- Content Heading -->
<% if (title) { %>
    <h1 id="updateInfo"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message -->
<%- messages() %>

<!-- Error Block for Server-Side Validation -->
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>

<!-- Form Items -->
<div class="update-info">
<form id="update-info" action="/account/update/" method="post">
    <label for="account_firstname">First Name:</label><br>
    <input type="text" class="inputLength" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname %>"><br>
    <label for="account_lastname">Last Name:</label><br>
    <input type="text" class="inputLength" id="account_lastname" name="account_lastname" required value="<%= locals.account_lastname %>"><br>
    <label for="account_email">Email Address:</label><br>
    <input type="email" class="inputLength" id="account_email" name="account_email" required placeholder="Enter a valid email address" value="<%= locals.account_email %>"><br>
    <div class="button">
    <input type="submit" class="updateInfo-button" value="Update My Information">
    </div>
    </form>
    <hr class="login-break">
    
    <form id="update-pw" action="/account/update/" method="post">
    <label for="account_password">Password:</label><br>
    <input type="password" class="inputLength" id="account_password" name="account_password" required
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
    <div class="button">
    <input type="submit" class="updatePw-button" value="Update Password">
    </div>
</form>
</div>